<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Interface d'administration - séléction fichier paramètres discord</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
  </head>
  <body>

    <div class="jumbotron">

      <h1>Séléction fichier de paramètres de connexion à discord</h1>

      <form action="administration" method="POST">
        <label>Veuillez sélectionner un fichier de paramètres de connexion à discord dans vos fichiers locaux</label><br>
        <label>Fichier : </label>
        <input type="file" id="input" name="fichierDiscord"><br>

        <input type="submit" value="Submit">
      </form>

    </div>



  </body>
  <script></script>

</html>