<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Interface d'administration - choix du cerveau</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
  </head>
  <body>

    <h1>Choix du cerveau</h1>

    <form action="/adminChoixCerveau">
      <label for="cars">Veuillez selectionner un cerveau parmis ceux disponible :</label>
      <select name="cars" id="cars">
        <option value="Standard">Standard</option>
        <option value="Cerveau2">Cerveau2</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>

  </body>
  <script></script>

</html>
