<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/formulaire.css" type="text/css">

    <title>Interface d'administration - création d'un bot</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
  </head>
  <body>

    <div id="container">
      <div class="jumbotron">

        <h1>Creation bot</h1>

        <form action="creerBot" method="POST">
          <label>Nom : </label>
          <input type="text" name="botName" required/> <br>

          <% if (locals.nomPris) { %>
            <label>Ce nom est déjà pris, merci de faire preuve de plus de créativité.</label>
          <% } %>

          <h2>Choix du cerveau</h2>

          <label>Veuillez selectionner un cerveau parmis ceux disponible :</label>

          <select name="cerveau">
            <% cerveaux.forEach(function(cerveau){ %>
              <option><%= cerveau %></option>
            <% }); %>
          </select>
          <br><br>
          <input type="submit" value="Envoyer">
        </form>

      </div>
    </div>

  </body>
  <script></script>

</html>
