<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/formulaire.css" type="text/css">

    <title>Interface d'administration</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
  </head>
  <body>

    <div id="container">
      <div class="jumbotron">

        <h2>Interface d'administration</h2>

        <form>
          <a href="creerBot">Créer un bot</a>
          <a href="associationBotDiscord">Associer un bot à un serveur discord</a>
        </form>

      </div>
    </div>
  </body>
  <script></script>

</html>