<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Connexion</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Connexion</h1>
      <form action="" method="POST">
        <label>Pseudo : </label>
        <input type="text" name="pseudo"/> <br>
        <label>Mot de passe : </label>
        <input type="text" name="mdp"/> <br>
        <input type="submit"/>
      </form>
      <a href="inscription">Inscription</a>
    </div>
  </body>
  <script src="js/proxyClient.js"></script>

</html>
