<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Creation</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Creation bot</h1>
      <form action="create" method="POST">
        <label>Nom : </label>
        <input type="text" name="nom"/> <br>
        <input type="submit"/>
      </form>
    </div>
  </body>
  <script></script>

</html>
