<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/formulaire.css" type="text/css">

    <title>Inscription</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
  </head>
  <body>
    <div id="container">
      <div class="jumbotron">
        <h1>Inscription</h1>
        <form action="" method="POST">
          <% if (locals.pseudoAlreadyTaken) {%>
            <label>Ce pseudo est déjà pris, merci d'en choisir un autre.</label><br>
          <% } %>
          <label>Pseudo : </label>
          <input type="text" name="pseudo" required/> <br>
          <label>Mot de passe : </label>
          <input type="password" name="mdp"/ required> <br>
          <label>Attention : votre mot de passe n'est pas protégé.</label><br>
          <input type="submit"/>
        </form>
        <a href="connexion">Connexion</a>
      </div>
    </div>
  </body>
  <script src="js/proxyClient.js"></script>

</html>
